h2 {
    margin-block-end: 20px !important;
}

button {
    margin: 5px;
    width: 100%;
}

#search-button {
    margin-block-start: 20px !important;
}

#main-content {
    padding: 20px;
}

#forecast-cards>.card {
    margin-inline-end: 5px;
    background-color: antiquewhite;
}

#today {
    max-width: 100%;
}

#today>.card {
    background-color: oldlace;
}

.card {
    margin-inline-end: 10px;
    padding: 10px;
}

ul {
    padding-inline-start: 0;
}

li {
    list-style-type: none;
}
